<nav id="sidebarMenu">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="/news">Inicio</a></li>
    <li class="nav-item"><a class="nav-link" href="/news/jornada/1">Jornada 1</a></li>
    <li class="nav-item"><a class="nav-link" href="/news/jornada/2">Jornada 2</a></li>
    <li class="nav-item"><a class="nav-link" href="/news/jornada/3">Jornada 3</a></li>
    <li class="nav-item"><a class="nav-link" href="/about">Acerca de</a></li>
    <li class="nav-item mt-3"><a class="btn btn-sm btn-danger w-100" href="/news/new">Agregar Noticia</a></li>
    <li class="nav-item mt-2">
      <button id="btn-dark-mode" class="w-100 btn btn-sm" type="button" aria-pressed="false">
        Modo oscuro: <span id="dark-state">Off</span>
      </button>
    </li>
  </ul>
</nav>

<div id="overlay"></div>
